.credit-card {
  border: 1px solid;
  margin: auto;
  position: absolute;
  width: 600px;
  height: 378px;
  border-radius: 24px;
  background-color: #3498db;
  color: #fff;
  padding-left: 40px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.puce {
  width: 100px;
  height: 100px;
}
.visa {
  width: 150px;
  height: 80px;
  margin-left: 70%;
  border-radius: 5px;
}
.bank-name,
.card-number,
.expiration {
  font-family: "Courier", monospace;
  font-size: 30px;
  text-transform: uppercase;
  color: black;
}
.bank-name {
  bottom: 40px;
  font-size: 36px;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.card-number {
  bottom: 160px;
  font-size: 46px;
}
.expiration {
  font-size: 25px;
  left: 240px;
  bottom: 100px;
}
.valid-thru {
  width: 30px;
  display: inline-block;
  margin-left: 43%;
  font-size: 14px;
  text-transform: uppercase;
}
.person-name {
  font-family: "Courier", monospace;
  font-size: 30px;
  text-transform: uppercase;
  color: black;
}
